*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','san-serif';
   
}
body{
   background: #eee;

}
.header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 30px 8%;
   background: transparent;
   display: flex;
   justify-content:space-between;
   align-items: center;
   z-index: 100;
}
.logo{
   font-size: 23px;
   color: #222;
   text-decoration:none;
   font-weight: 600;
   
   
}
.navbar a {
   font-size: 12;
   color: #222;
   text-decoration: none;
   font-weight: 500;
   margin: 0 20px;

}
.navbar a:hover,
.navbar a.active{
   color: rgb(0, 115, 255);
}
.social{
   display:inline-flex;
   justify-content:center;
   align-items: center;
   width: 150px;
   height: 40px;
   
}
.social a{
   display:inline-block;
   width: 40px;
   height: 40px;
   background: transparent;
   border: 2px solid transparent;
   text-decoration: none;
   transform: rotate(45deg);
   transition: .5s;


}

.social a:hover {
   border-color:transparent;
}



.social a i {
   font-size: 24px;
   color: rgb(10, 10, 10);
   transform: rotate(-45deg);


}
.home{
   position: relative;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 50px 8% 0;
   overflow: hidden;


}
.home-content{
   max-width: 630px;
}
.home-content h1{
   font-size: 40px;
   line-height 1.2;
}
.home-content h3{
   font-size: 20px;
   color: #1743e3;
}
.home-content p{
   font-size: 16px;
   margin: 15px 0 30px;

}
.btn{
   display: inline-block;
   padding: 10px 28px ;
   background: #1743e3;
   border: 2px solid #1743e3;
   border-radius: 6px;
   box-shadow: 0 0 10px rgba(0, 0,0,.1);
   font-size: 16px;
   color: #eee;
   letter-spacing: 1px;
   text-decoration: none;
   font-weight: 600;
   transition: .5s;

}
.btn:hover{
   background: transparent ;
   color: #1743e3;
}

.home-img{
   position: relative;
   right: -7%;
   width: 450px;
   height: 450px;
   transform: rotate(45deg);

}
.home-img .rhombus{
   position: absolute;
   width: 100%;
   height: 100%;
   background: #eee;
   border: 25px solid  #363639;
   box-shadow: -15px 15px 15px rgba(0, 0,0,1);

}
.home-img .rhombus img{
   position: absolute;
   left: -150px;
   transform: rotate(-45deg);
}
.home .rhombus2{
   position: absolute;
   top: 55px;
   right: px;
   left: 1050px;

   width: 700px;
   height: 700px;
   background: #1743e3;
   transform: rotate(45deg);
   z-index: -1;
   
}
.rkl{
   position: absolute;
   margin-top: -300px;
   right: px;
   left: 50px;

   width: 1420px;
   height: 800px;
   background: #1743e3;
   transform: rotate(deg);
   z-index: -1;
   
}
.rk{
   position: absolute;
   margin-top: -520px;
   right: 78px;
   left: 420px;
   width: 700px;
   height: 1300px;
   border: 25px solid  #363639;
   box-shadow: 15px -15px 15px rgba(0, 0,0,1);
   transform: rotate(45deg);
   z-index: -1;
}








table,td{
    border-radius: 30px;

    
}
table{
    margin-top: -310px;
    height: 120px;
    width: 1200px;
    margin-left: 160px;
    
   
}
td{
    margin-top: -050px;
    height: 180px;
    width: 180px;
    border-radius: 30px;
    justify-content: center;
    
}
img{
    height: 180px;
    width: 280px;
    border-radius: 20px;
    box-shadow: -15px 15px 15px rgb(0, 0, 0);;
    margin-top: 10px;
    
    
}
div{
    display: flex;
    justify-content: space-evenly;
    
}
th{
    
    text-shadow: 8px 9px 8px rgb(0, 0, 0);
    font-size:x-large;
    font-style: oblique;
    color: #fff;
    
}
h1{

    text-shadow: 5px 5px 15px rgb(250, 245, 245);
    text-decoration: underline;
   
    
}
#l{
    margin-top: 0px;
    margin-left: 580px;
    justify-content: center;
    color: rgb(217, 208, 208);
    text-decoration:none;
    text-shadow: 15px 15px 15px rgb(29, 29, 182);
   
    
}
#t{
    margin-left: 500px;
}
#hjhj{
    background: url(./yuy.jpg);
    background-size: cover;
    color:#f0e6e6

}
.registration-from{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}
.registration-from h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px;

}
.registration-from p{
    font-size: 20px;
    margin: 15px 0;

}
.registration-from input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}
.registration-from button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;

    
}
#p{
    margin-left: 350px;
}
h3{
   color: #fbf7f7;
   text-shadow: 8px 9px 8px rgb(0, 0, 0)
}

 
